In [1]:
import sys, os
import pandas as pd

In [2]:
ruta = os.path.dirname(os.getcwd())

sys.path.append(ruta)
import src.utils.folders_tb as folders
from src.utils.sql_tb import MySQL
from src.utils.mining_data_tb import Organizador_dataframe
from src.utils.models import Clasificador_ML
from cv2 import imread

In [3]:
gestor = folders.Gestor_archivos()
configbd = gestor.read_json((ruta + os.sep + 'resources'+ os.sep + 'bd_info.json'))
IP_DNS = configbd["IP_DNS"]
USER = configbd["USER"]
PASSWORD = configbd["PASSWORD"]
BD_NAME = configbd["BD_NAME"]
PORT = configbd["PORT"]

In [4]:
mysql = MySQL(IP_DNS, USER, PASSWORD, BD_NAME, PORT)
organizador = Organizador_dataframe()
clasificador_ml = Clasificador_ML()

Found 156 files belonging to 5 classes.

## CREACIÓN TABLA MODEL_COMPARISION PARA LA APLICACIÓN STREAMLIT

In [5]:
df_resumen = gestor.cargar_df(ruta + os.sep + 'data' + os.sep + 'dataframe_resumen.csv')

In [6]:
conn, engine = mysql.create_engine()

Connected to MySQL server [76903092q_ds_april_2021_db]

In [7]:

# sql_create_table = """CREATE TABLE model_comparasion( 
#                         Id int(11) NOT NULL AUTO_INCREMENT,
#                         model VARCHAR(75),
#                         parameters VARCHAR(100),
#                         recall VARCHAR(250),
#                         score INT(5),
#                         PRIMARY KEY (Id)) """

# result = mysql.execute_engine(conn, sql_create_table)

(pymysql.err.OperationalError) (1050, "Table 'model_comparasion' already exists")
[SQL: CREATE TABLE model_comparasion(
                        Id int(11) NOT NULL AUTO_INCREMENT,
                        model VARCHAR(75),
                        parameters VARCHAR(100),
                        recall VARCHAR(250),
                        score INT(5),
                        PRIMARY KEY (Id)) ]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

0

In [7]:
# sql_create_table = """DROP TABLE model_comparasion"""

# result = mysql.execute_engine(conn, sql_create_table)

This result object does not return rows. It has been closed automatically.

In [15]:
df_resumen.to_sql(name='model_comparasion', con=conn, if_exists='fail', index=False)

DataError: (pymysql.err.DataError) (1406, "Data too long for column 'parameters' at row 1")
[SQL: INSERT INTO model_comparasion (model, parameters, recall, score) VALUES (%(model)s, %(parameters)s, %(recall)s, %(score)s)]
[parameters: ({'model': '<tensorflow.python.keras.engine.functional.Functional object at 0x1715d0cd0>', 'parameters': "{'name': 'model', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': False, ' ... (165592 characters truncated) ... ': None}, 'name': 'dense_1', 'inbound_nodes': [[['dropout', 0, 0, {}]]]}], 'input_layers': [['input_1', 0, 0]], 'output_layers': [['dense_1', 0, 0]]}", 'recall': 0.8974358974358975, 'score': 0.8974359035491943}, {'model': '<tensorflow.python.keras.engine.sequential.Sequential object at 0x16fdbdf50>', 'parameters': "{'name': 'sequential', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': Fal ... (3501 characters truncated) ... fig': {}}, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None}}]}", 'recall': 0.5046604527296937, 'score': 0.504660427570343}, {'model': '<tensorflow.python.keras.engine.sequential.Sequential object at 0x16fdd30d0>', 'parameters': "{'name': 'sequential', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': Fal ... (3491 characters truncated) ... fig': {}}, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None}}]}", 'recall': 0.6538461538461539, 'score': 0.6538461446762085}, {'model': '<tensorflow.python.keras.engine.sequential.Sequential object at 0x173a35890>', 'parameters': "{'name': 'sequential_1', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': F ... (3507 characters truncated) ... fig': {}}, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None}}]}", 'recall': 0.591182364729459, 'score': 0.5911823511123657}, {'model': '<tensorflow.python.keras.engine.sequential.Sequential object at 0x173b99e50>', 'parameters': "{'name': 'sequential', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': Fal ... (3582 characters truncated) ... fig': {}}, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None}}]}", 'recall': 0.2198019801980198, 'score': 0.219801977276802}, {'model': '<tensorflow.python.keras.engine.sequential.Sequential object at 0x173909d10>', 'parameters': "{'name': 'sequential', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': Fal ... (3582 characters truncated) ... fig': {}}, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None}}]}", 'recall': 0.2415841584158415, 'score': 0.2415841519832611}, {'model': '<tensorflow.python.keras.engine.sequential.Sequential object at 0x174f12c90>', 'parameters': "{'name': 'sequential', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': Fal ... (3491 characters truncated) ... fig': {}}, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None}}]}", 'recall': 0.6538461538461539, 'score': 0.6538461446762085}, {'model': '<tensorflow.python.keras.engine.functional.Functional object at 0x172e157d0>', 'parameters': "{'name': 'model', 'layers': [{'class_name': 'InputLayer', 'config': {'batch_input_shape': (None, 250, 250, 3), 'dtype': 'float32', 'sparse': False, ' ... (11016 characters truncated) ... ': None}, 'name': 'dense_1', 'inbound_nodes': [[['dropout', 0, 0, {}]]]}], 'input_layers': [['input_1', 0, 0]], 'output_layers': [['dense_1', 0, 0]]}", 'recall': 0.8589743589743589, 'score': 0.8589743375778198}  ... displaying 10 of 40 total bound parameter sets ...  {'model': "LogisticRegression(max_iter=10, n_jobs=-1, penalty='none', random_state=74724)", 'parameters': "{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 10, 'multi_class': 'auto', 'n_jobs': -1, 'penalty': 'none', 'random_state': 74724, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}", 'recall': 0.3188118811881188, 'score': 0.3188118811881188}, {'model': "LogisticRegression(max_iter=10, n_jobs=-1, penalty='none', random_state=34541)", 'parameters': "{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 10, 'multi_class': 'auto', 'n_jobs': -1, 'penalty': 'none', 'random_state': 34541, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}", 'recall': 0.3188118811881188, 'score': 0.3188118811881188})]
(Background on this error at: http://sqlalche.me/e/14/9h9h)

In [9]:
mysql.close_engine(conn, engine)

Close connection with MySQL server [76903092q_ds_april_2021_db]

### De cara a poder guardar la tabla en MySQL dejo sólo la configuracion de capas como variable parámetros porque la tabla de MySQL da error al introducir todos los parámetros de las capas de los modelos de redes neuronales.

In [15]:
df = organizador.simplifica_columna_parametros_tensorflow(df=df_resumen, filas=list(range(12)))
gestor.guardar_csv(df, ruta=ruta, nombre='dataframe_resumen_final.csv')

In [16]:
df

,model,parameters,recall,score
0,<tensorflow.python.keras.engine.functional.Fun...,"['EfficientNetB2', 'Dense', 'Dense']",0.897436,0.897436
1,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.504660,0.504660
2,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.653846,0.653846
3,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.591182,0.591182
4,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Conv2D', 'MaxPooling2D', 'Drop...",0.219802,0.219802
5,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Conv2D', 'MaxPooling2D', 'Drop...",0.241584,0.241584
6,<tensorflow.python.keras.engine.functional.Fun...,"['InputLayer', 'Conv2D', 'Conv2D', 'MaxPooling...",0.858974,0.858974
7,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.572277,0.572277
8,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.465347,0.465347
9,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Conv2D', 'MaxPooling2D', 'Conv...",0.380198,0.380198
10,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.200000,0.200000
11,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.546535,0.546535
12,"RandomForestClassifier(max_features=3, n_estim...","{'bootstrap': True, 'ccp_alpha': 0.0, 'class_w...",0.609901,0.609901
13,"RandomForestClassifier(n_estimators=300, warm_...","{'bootstrap': True, 'ccp_alpha': 0.0, 'class_w...",0.409901,0.409901
14,"RandomForestClassifier(n_estimators=600, warm_...","{'bootstrap': True, 'ccp_alpha': 0.0, 'class_w...",0.415842,0.415842
15,"GridSearchCV(cv=3,\n estimator=Pip...","{'cv': 3, 'error_score': nan, 'estimator__memo...",0.403960,0.403960
16,"SVC(C=1, gamma=0.1, random_state=43)","{'C': 1, 'break_ties': False, 'cache_size': 20...",0.275248,0.275248
17,"RandomForestClassifier(n_estimators=5, random_...","{'bootstrap': True, 'ccp_alpha': 0.0, 'class_w...",0.289109,0.289109
18,"GridSearchCV(cv=3,\n estimator=Pip...","{'cv': 3, 'error_score': nan, 'estimator__memo...",0.433663,0.433663
19,KNeighborsClassifier(),"{'algorithm': 'auto', 'leaf_size': 30, 'metric...",0.291089,0.291089
20,"RandomForestClassifier(max_features=3, n_estim...","{'bootstrap': True, 'ccp_alpha': 0.0, 'class_w...",0.435644,0.435644
21,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.318812,0.318812
22,"LogisticRegression(n_jobs=-1, penalty='none', ...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.344554,0.344554
23,"LogisticRegression(max_iter=900, n_jobs=-1, pe...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.344554,0.344554
24,"RandomForestClassifier(max_features=3, n_estim...","{'bootstrap': True, 'ccp_alpha': 0.0, 'class_w...",0.737179,0.737179
25,"GridSearchCV(cv=3,\n estimator=Pip...","{'cv': 3, 'error_score': nan, 'estimator__memo...",0.370297,0.370297
26,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.352475,0.352475
27,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.318812,0.318812
28,"SVC(C=1, gamma=0.1, random_state=39095)","{'C': 1, 'break_ties': False, 'cache_size': 20...",0.275248,0.275248
29,"SVC(C=1, gamma=0.1, random_state=85951)","{'C': 1, 'break_ties': False, 'cache_size': 20...",0.275248,0.275248
30,"SVC(C=1, gamma=0.1, random_state=41047)","{'C': 1, 'break_ties': False, 'cache_size': 20...",0.275248,0.275248
31,"SVC(C=1, gamma=0.1, random_state=85884)","{'C': 1, 'break_ties': False, 'cache_size': 20...",0.275248,0.275248
32,"SVC(C=1, gamma=0.1, random_state=77579)","{'C': 1, 'break_ties': False, 'cache_size': 20...",0.275248,0.275248
33,"GridSearchCV(cv=3,\n estimator=Pip...","{'cv': 3, 'error_score': nan, 'estimator__memo...",0.423762,0.423762
34,"RandomForestClassifier(n_estimators=1100, warm...","{'bootstrap': True, 'ccp_alpha': 0.0, 'class_w...",0.431683,0.431683
35,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.318812,0.318812
36,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.318812,0.318812
37,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.318812,0.318812
38,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.318812,0.318812
39,"LogisticRegression(max_iter=10, n_jobs=-1, pen...","{'C': 1.0, 'class_weight': None, 'dual': False...",0.318812,0.318812

In [17]:
conn, engine = mysql.create_engine()

Connected to MySQL server [76903092q_ds_april_2021_db]

In [18]:
df.to_sql(name='model_comparasion', con=conn, if_exists='fail', index=False)

In [19]:
data = pd.read_sql_table(table_name='model_comparasion', con=conn)

In [21]:
data.head(5)

,model,parameters,recall,score
0,<tensorflow.python.keras.engine.functional.Fun...,"['EfficientNetB2', 'Dense', 'Dense']",0.897436,0.897436
1,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.504660,0.504660
2,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.653846,0.653846
3,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Rescaling', 'Conv2D', 'MaxPool...",0.591182,0.591182
4,<tensorflow.python.keras.engine.sequential.Seq...,"['InputLayer', 'Conv2D', 'MaxPooling2D', 'Drop...",0.219802,0.219802

In [22]:
mysql.close_engine(conn, engine)

Close connection with MySQL server [76903092q_ds_april_2021_db]

## CREACIÓN E INSERCIÓN DE VALOR DE PRUEBA EN LA TABLA PREDICTIONS PARA LA APLICACIÓN STREAMLIT

In [19]:
conn, engine = mysql.create_engine()

Connected to MySQL server [76903092q_ds_april_2021_db]

In [13]:
sql_create_table = """CREATE TABLE predictions( 
                        Id int(11) NOT NULL AUTO_INCREMENT,
                        model VARCHAR(150),
                        parameters VARCHAR(500),
                        prediction VARCHAR(100),
                        PRIMARY KEY (Id)) """

result = mysql.execute_engine(conn, sql_create_table)

This result object does not return rows. It has been closed automatically.

In [14]:
modelo = gestor.carga_modelo_rnn(ruta + os.sep + 'models', 'modelo_rnn_12_data3.h5')

In [21]:
imagen = imread(ruta + os.sep + 'data' + os.sep + 'dataset_descargado' + os.sep + 'Postmoderno' + os.sep + 'postm1.jpg')
resultado = [clasificador_ml.prediccion_rnn(modelo, imagen, seed=42, knn=True)]
parametros = str(['EfficientNetB2', 'Dense', 'Dense'])
modelo_sql = str(modelo)

In [22]:
sql = """INSERT INTO predictions (model, parameters, prediction) VALUES (%s, %s, %s)"""
tuples = (modelo_sql, parametros, resultado)
mysql.execute_engine(conn, sql, tuples)

This result object does not return rows. It has been closed automatically.

0

In [23]:
mysql.close_engine(conn, engine)

Close connection with MySQL server [76903092q_ds_april_2021_db]

## CREACIÓN DE LA TABLA JUAN_BAYON_FERNANDEZ CON LA INFORMACIÓN DEL DATASET

In [5]:
conn, engine = mysql.create_engine()

Connected to MySQL server [76903092q_ds_april_2021_db]

In [27]:
df_resumen_dataset = gestor.cargar_df(ruta + os.sep + 'data' + os.sep + 'dataframe_resumen_dataset.csv')
df_resumen_dataset.to_sql(name='juan_bayon_fernandez', con=conn, if_exists='fail', index=False)

In [28]:
data = pd.read_sql_table(table_name='juan_bayon_fernandez', con=conn)
pd.DataFrame(data).head(5)

       filename                                      metadata
0  deco_482.jpg   {'img_size': (600, 450, 3), 'img_label': 0}
1  deco_496.jpg  {'img_size': (785, 1000, 3), 'img_label': 0}
2  deco_327.jpg   {'img_size': (521, 800, 3), 'img_label': 0}
3  deco_441.jpg  {'img_size': (1000, 750, 3), 'img_label': 0}
4  deco_455.jpg   {'img_size': (386, 600, 3), 'img_label': 0}

In [29]:
mysql.close_engine(conn, engine)

Close connection with MySQL server [76903092q_ds_april_2021_db]

### SE CREA EL JSON CON LA FUNCIÓN DE MYSQL QUE USARA LA API FLASK

In [6]:
funcion = """def guarda_dataframe_en_mysql(df, parametros, nombre_tabla, imports=False):
    "Dados un dataframe y los parametros de conexión a una base de datos la función guarda el dataframe en mysql y cierra la conexión."
    if imports:
        from sqlalchemy import create_engine
        from sqlalchemy.pool import NullPool
    sql_alchemy = 'mysql+pymysql://' + parametros['USER'] + ':' + parametros['PASSWORD'] + '@' + parametros['IP_DNS'] + ':' + str(parametros['PORT']) + '/' + parametros['BD_NAME']
    engine = create_engine(sql_alchemy, poolclass=NullPool)
    conn = engine.connect()
    print("Conectado al servidor de MySQL a la base de datos [" + parametros['BD_NAME'] + "]")
    try:
        df.to_sql(name=nombre_tabla, con=conn, if_exists='fail', index=False)
        print('El dataframe se ha guardado correctamente')
    except:
        print('No se ha podido guarda la tabla')
    conn.close()
    engine.dispose()
    print("Desconectado del servidor de MySQL de la base de datos [" + parametros['BD_NAME'] + "]")"""

In [8]:
funcion_json = {'nombre_funcion': 'guarda_dataframe_en_mysql' , 'funcion': funcion, 'parametros': ['dataframe', 'nombre_tabla', 'imports']}

In [24]:
path = ruta + os.sep + 'src' + os.sep + 'api' + os.sep + 'static' + os.sep + 'funcion_mysql.json'
gestor.load_json(funcion_json, path)